body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHL3DlbmXbIzW0u8KhckmwToypBVzzOinYP_82mS5O7VqvUN2tTUUllvs&s=10');
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label, input, select, button {
  margin-bottom: 10px;
}
